
{%extends 'app/base.html'%}
{%block body_block%}
    <h2 style="color:white;">Please LogIn:</h2>

    {%if forms.errors%}
        <p>Your username or password is incorrect! please try again.</p>

    {%endif%}
    <form action="{%url 'app:login'%}" method="POST" >
        {%csrf_token%}
        <p> {{user_form.username}}</p>
        <p>{{user_form.password}}</p>
        <div class="center_button">
        <input type="submit" class="btn btn-primary login_btn" value="Login">
        </div>
        <input type="hidden" name="next" value="{{next}}">
    </form>

{%endblock%}