<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GCOEA</title>
    <link rel="stylesheet" href="{%static 'css/base.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body class="body_background" style="background:url({%static 'images/background.jpg'%});">

        <nav class="navbar navbar-expand-lg navbar-light nav-color">
            <div class="container">
                    <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="{%url 'app:base'%}"><img src="{%static 'images/logo.jpg'%}" width="200"></a></li>
                    {%if user.is_authenticated%}
                       <li> <a class="nav-link " id="color_nav" href="{%url 'app:post_new' pk=user.pk %}">Q&A</a></li>
                        <li><a class="nav-link" id="color_nav" href="{%url 'app:post_detail' pk=user.pk%}">Post List</a></li>
                        {%if user.last_name == 'AANP'%}
                            <li><a class="nav-link " id="color_nav" href="{%url 'app:event_form' pk=user.pk%}">Add Event</a></li>
                            <li><a class="nav-link " id="color_nav" href="{%url 'app:event_detail' pk=user.pk%}">Events</a></li>
                        {%endif%}
                    {%endif%}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {%if user.is_authenticated%}
                            <li><a class="nav-link " id="color_nav" href="{%url 'app:logout'%}">LogOut</a></li>
                            <li><a class="nav nav-link navbar-right" id="color_nav" style="color:grey">Welcome: <b style="color:#abff4f"> {{user.first_name}}</b></a></li>
                        {%else%}
                           <li> <a class="nav-link" id="color_nav" href="{%url 'app:signup'%}">SignUp</a></li>
                           <li> <a class="nav-link" id="color_nav" href="{%url 'app:login'%}?next={{request.path}}">LogIn</a></li>
                        {%endif%}
                    </ul>
            </div>
        </nav>


        <div class="container">
           <div class="row">
                <div class="col-md-8 margin_padding">
                    <div class="base_position">
                        {%block body_block%}
                        {%for user_event in user_all %}
                            {%for event_all in user_event.events.all %}
                                <div class="event_data">
                                    <img src="{{event_all.photo.url}}" class="image">
<!--                                    <h1 class="event_title">{{event_all.title}}</h1>-->
                                    <h5>Comments: {{event_all.number_of_comments}}</h5>
                                     <a class="btn btn-primary event_view" href="{%url 'app:eventDetailwithcomment' pk=event_all.pk%}">Detail</a>
                                </div>
                            {%endfor%}
                        {%endfor%}
<!--                            {%for user_post in user_all %}-->
<!--                                {%for post_all in user_post.posts.all %}-->
<!--                                    <div class="event_data">-->
<!--                                        <p>Name: {{user_post.first_name}}</p>-->
<!--                                        <p>Title: {{post_all.title}}</p>-->
<!--                                        <p>Text: {{post_all.info}}</p>-->
<!--                                        <p>Published Date: {{post_all.published_date}}</p>-->
<!--                                    </div>-->
<!--                                {%endfor%}-->
<!--                            {%endfor%}-->
                        {%endblock%}
                    </div>
                    <div class="col-md-10">
                        {%block event_detail%}

                        {%endblock%}
                    </div>
                </div>
           </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 signup">
                {%block signup%}
                    <!-- only for signup page-->
                {%endblock%}
                </div>
            </div>
        </div>
            <a><i class="fas fa-arrow-circle-up fa-3x topbtn"></i></a>
       <!-- // top button js by Nilesh Mare-->
            <script>
                const topbutton = document.querySelector('.topbtn');
                topbutton.addEventListener('click',function(){
                        window.scrollTo({
                            top:0,
                            left:0,
                            behavior:"smooth"

                        });

                });

            </script>
        <!--  // end of top buttom js-->
</body>
</html>