
{%extends 'app/base.html'%}
{%block signup%}
     <div id="signup_form">
         {%if registered%}
        <h1>Thank you for registration</h1>
    {%else%}

    <form method="post" >
        <h2 style="color:white;">Please Fill the information <br>to register your account!</h2><hr>
        {%csrf_token%}
            {%if user_form.errors%}
                <div id="division_id">
                    <h3 class="error_h3">Errors:</h3>
                    <p>{{user_form.errors}}</p>
                    <p>{{signup_form.errors}}</p>
                </div>
            {%endif%}
        <p>{{user_form.first_name}}</p>
        <p>{{user_form.last_name}}</p>
        <p> {{user_form.username}}</p>
        <p> {{user_form.password}}</p>
        <p> {{user_form.email}}</p>
        <p>{{signup_form.roll_number}}</p>
        <p>{{signup_form.graduation_year}}</p>
        <div class="center_button">
         <input type="submit" class="btn btn-primary" name="" value="Register">
        </div>
    </form>
    {%endif%}
     </div>
{%endblock%}