
{%extends 'app/base.html'%}
{%block signup%}
     {%if registered%}
        <h1>Thank you for registration</h1>
    {%else%}
    <h2>Please SignUp</h2>
    <br><br><br>
    <form method="post">
        {%csrf_token%}
            {%if user_form.errors%}
                <div id="division_id">
                    <h3 class="error_h3">Errors:</h3>
                    <p>{{user_form.errors}}</p>
                    <p>{{signup_form.errors}}</p>
                </div>
            {%endif%}
        <p>{{user_form.first_name}}</p>
        <p>{{user_form.last_name}}</p>
        <p> {{user_form.username}}</p>
        <p> {{user_form.password}}</p>
        <p> {{user_form.email}}</p>
        <p>{{signup_form.roll_number}}</p>
        <p>{{signup_form.graduation_year}}</p>
         <input type="submit" class="btn btn-primary" name="" value="Register">
    </form>
    {%endif%}
{%endblock%}